#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.user-info {
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los enlaces */
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.navbar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}



button:hover {
  background-color: #555;
  color: white;
}

h4{
  color: green
}